@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --breakpoint-xs: 365px;
  --breakpoint-base: 600px;
  --breakpoint-md1: 768px;
  --breakpoint-md: 960px;
  --breakpoint-lgxs: 1060px;
  --breakpoint-lgs: 1160px;
  /* --breakpoint-lg2 : 500px; */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:root {
  --color-secondary: var(#ffb200);
  --color-title: var(--color-gray-700);
}
.title-color {
  color: var(--color-title);
}
.description-color {
  @apply text-gray-600;
}

/* text-[#393E46] */
.nav-item {
  @apply font-montserrat text-[13px] py-1 ;
}

.nav-item-active {
  @apply font-montserrat text-[13px] py-1 ;
}

.nav-item-active-border {
  @apply font-medium px-2 border-b-2 border-[#FFB200]  bg-gradient-to-t from-[#FFB200]/20;
}
